.search-container {
    height: 500px;
    width: 100%;
    background-image: url('background-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.search-button{
    padding-top: 35vh;
    width: 30rem;
}

.search-button-container{
    padding-left: 532px;
}

.hide{
    display: none !important;
}

.img-bio > img{
    height: 35rem;
    width: 25rem;
}

.img{
    margin: 13px;
    margin-left: 30px !important;
}

.bio{
    /* margin: 18px; */

    /* padding-top: 10rem; */
    margin-top: 10rem !important;
    margin-right: 7rem;
}

.row{
    margin-left: 7rem !important;
    margin-right: 7rem !important;
}

.mrgtop{
    margin-top: 20px !important;
}